@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,400;1,600&display=swap');

:root{/*Para criar variaveis globais*/
    --cor-primaria:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {/*Resetar padrões dos navegadores*/
margin: 0;
padding: 0;
}

body {/*Estilizar o body como um todo*/
    /*height: 100vh;(Definir a altura máxima da página)igual a 100% da altura do Viewport(da tela do dispositivo em questão*/
    box-sizing: border-box;/*Para evitar que tags filhas, como h,p,a, saiam do body, ou seja saiam do layout da página*/
    background-color: black;
    color:var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;/*superior, direito, inferior e esquerdo*/

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color:var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{/*Para poder usar o Flex-box na estilização*/
    display: flex;/*informa que dentro do main vou utlizar este recurso, que determina a maneira que vou organizar os elementos na página*/
    flex-direction: row;/*define em que direção alinhar os elementos, em linha, coluna...*/
    align-items: center;/*alinhamento*/
    justify-content: space-between;/*adicionar espaçamento entre as tags filhas, neste caso, apenas uma <section> e a <img>*/
    padding: 5% 15%;/*1º valor é para superior e inferior, 2º é para as laterais*/
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;/*Gap, ou espaço, entre os itens*/

}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;/*tamanho da fonte do texto*/
    font-family: var(--fonte-primaria);/*para usar uma fonte nova, preciso importa-la antes*/
}

.titulo-destaque {
    color:var(--cor-terciaria);
}

.apresentacao__conteudo_texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;/*tamamho, estilo e cor da borda*/
    text-align: center;
    font-size: 1.5rem;
    width: 50%;
    border-radius: 8px;/*raio, quanto maior o nº, mais arredondado fica as bordas*/
    padding: 21.5px 0;/*vertical e horizontal*/
    text-decoration: none;/*tiro a decoração padrão*/
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
}

.apresentacao__links__link:hover{/*ao passar o mouse sobre, muda os estilos*/
     background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    padding: 24px;
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 1200px){/*quando a largura do dispositivo chegar em 1200 px, eu troco a disposição da tela*/
    .cabecalho{
        padding: 15%;
    }
    .cabecalho__menu{
        justify-content:center;
    }
      .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
      }
      .apresentacao__conteudo{
        width: auto;/*Ou posso usar 100%, que acompanha o tamanho da tela de forma automática*/
      }
}
